input[type=button] {

    background-color: #F4F4F4;

    border: 1px solid #F4F4F4;

    width: 80px;

    height: 80px;

    border-radius: 8px;
}

#x {

    width: 165px;
}

#textview {

    width: 335px;

    height: 60px;

    border-radius: 1px;

    border: 1px solid #e4e4e4;
}

fieldset {

    width: 345px;
    margin: auto;

}
legend{
    text-align: center;
    font-size: 35px;
}
body{
    background: linear-gradient(to right, #8099E9, #E99DCB );
}
@media (max-width: 480px) {
    input[type=button] {
        width: 60px;
        height: 60px;
    }

    #x {
        width: 100%;
    }

    #textview {
        width: 100%;
    }

    fieldset {
        width: 100%;
    }
}
